.viewSideBar{
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 900;
    display: none;
}

@media (max-width: 950px) {
    .viewSideBar{
        display: flex;
        left: 0;
        transition: all 0.4s linear;
    }

    .viewSideBar.active{
        left: 300px;
    }
}