/* write your css here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    scrollbar-width: 3px;
}

*::-webkit-scrollbar{
    width: 5px;
    color: yellow;
    background: #AFB2BF;
}

::-webkit-scrollbar-thumb{
    color: white;
    background: #FFF970;
}

.app{
    min-height: 100vh;
}

img{
    width: 100%;
}

.bg-frame{
    background: url('./assets/Images/bghome.svg');
}

label{
    font-size: 14px;
    font-weight: 400;
    color: #f1f2ff;
}



form sup{
    color: red;
}

form input:not([type=checkbox]){
    appearance: none;
}

form input ,form textarea, form select {
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    background: #161d29;
    border-radius: 8px;
    color: #f1f2ff;
    border-bottom: 1px solid #999daa;
    font-size: 16px;
    padding: 12px;
    color: #f1f2ff;
}


form span{
    font-size: 14px;
    font-weight: 400;
    color: #f1f2ff;
}

form input::placeholder{
    color: #999daa;
}

.form-style{
    background-color: #2C333F;
    width: 100%;
}


.codeblockBackground{
    background: linear-gradient(111.93deg,rgba(14,26,45,.24) -1.4%,rgba(17,30,50,.38) 104.96%);
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom,#ffffff38,#ffffff00);
}



.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #f1f2ff;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
      spinner-oaa3wk 1.6s infinite linear;
  }

.yellowButton {
    @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblack-900;
  }

  .blackButton {
    @apply cursor-pointer rounded-md bg-richblack-900 px-[20px] py-[8px] font-semibold text-richblack-5;
  }


  .section_heading {
    @apply text-2xl font-bold text-richblack-5 lg:text-4xl;
  }


  .swiper-slide {
    width: 100%;
    height: 100%;
  }

  